apiVersion: 1

datasources:
  - name: Neon PostgreSQL
    type: postgres
    uid: neon
    access: proxy
    url: ${NEON_HOST}:5432
    database: ${NEON_DATABASE}
    user: ${NEON_USER}
    secureJsonData:
      password: "endpoint=${NEON_ENDPOINT_ID};${NEON_PASSWORD}"
    jsonData:
      sslmode: require
      postgresVersion: 1500
      timescaledb: false
      maxOpenConns: 10
      maxIdleConns: 10
      connMaxLifetime: 14400
    editable: true
    isDefault: true
